body {
	background-image: url("../images/background.png")
}

h1 {
	background-color: brown;
	color: white;
	display:inline;
	clear: both;
	padding:10px;
	margin-bottom: 20px;
	border: solid 1px #ddd;
}

#wrapper {
	width:100%;
	max-width: 960px;
	margin: 0 auto;

}

#instructions {
	background-color: white;
	width: 50%;
	clear:both;
	padding: 15px;
	margin-top: 20px;
	border: solid 1px #ddd;

}

#guessingNumber {
	background-color: green;
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	border: solid 1px #ddd;
}

#scoreboard {
	background-color: blue;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	border: solid 1px #ddd;
}

#crystals {
	margin-top: 15px;
	margin-bottom: 25px;

}

.crystalImage {
	height: 111px;
	border: solid 1px black;
	margin-left: 10px
}

.crystalImage:firstchild {
	margin-left: 0px;
	
}

#totalScore {
	margin-bottom: 50px;

}

#yts {
	background: blue;
	display: inline;
	padding: 20px;
	border: solid 1px black;

}




